.content .box .title {
  position: relative;
  width: 550px;
  height: 120px;
  margin: 0 auto;
}
.content .box .title .back {
  position: absolute;
  top: -10px;
  width: 550px;
}
.content .box .title .text {
  position: absolute;
  top: 25px;
  left: 160px;
  width: 220px;
}

.content .box .forms {
  max-width: 80vw;
  min-width: 70vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}
.content .box .forms .form1 img.title {
  width: 20vw;
  height: auto;
}
.content .box .forms .form1 img.body {
  width: auto;
  height: 50vh;
}
.content .box .forms .form2 img.title {
  width: 20vw;
  height: auto;
}
.content .box .forms .form2 img.body {
  width: auto;
  height: 50vh;
}
@media screen and (max-width: 1000px) {
  .content .box .forms .form1 img.body {
    width: auto;
    height: 30vh;
  }
  .content .box .forms .form2 img.body {
    width: auto;
    height: 30vh;
  }
}
.content .box .forms .form1, .content .box .forms .form2 {
  position: relative;
}
.content .box .forms .form1 .btn, .content .box .forms .form2 .btn {
  position: absolute;
  bottom: 20px;
  left: 50px;
}