
.content .box {
  width: 50%;
  max-width: 720px;
  min-width: 480px;
  background-color: #c5c6d8;
  border-radius: 20px;
  height: 400px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content .box .title {
  position: relative;
  width: 550px;
  height: 120px;
}
.content .box .title .back {
  position: absolute;
  top: -10px;
  width: 550px;
}
.content .box .title .text {
  position: absolute;
  top: 30px;
  left: 130px;
  width: 280px;
}

.content .box > img {
  width: 40%;
}