.content .box .title {
  position: relative;
  width: 550px;
  height: 120px;
  margin: 0 auto;
}
.content .box .title .back {
  position: absolute;
  top: -10px;
  width: 550px;
}
.content .box .title .text {
  position: absolute;
  top: 30px;
  left: 160px;
  width: 220px;
}
.content .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 800px;
  width: 80%;
  max-width: 1600px;
}
.content .products .product {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.content .products .product .txt {
  height: 60px;
}
.content .products .product .img {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #000;
  height: 280px;
}