
.content .box {
  width: 50%;
  max-width: 720px;
  min-width: 480px;
  background-color: #c5c6d8;
  border-radius: 20px;
  height: 840px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 40px;
}

.content .box .registro {
  align-self: flex-start;
}