html, body {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('../assets/fondo/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.actions .search {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.actions .info {
  display: flex;
  width: calc(100% - 20px);
  justify-content: space-between;
  padding: 10px;
  font-size: 1.5em;
}
.actions .info .breadcrumb {
  display: flex;
  align-items: flex-end;
}
.actions .info .buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
nav {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .logo {
  padding: 10px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: black;
  flex-grow: 2;
  max-height: 100px;
  padding: 10px 20px;
  width: 40%;
}
nav ul li {
  background-color: black;
}
footer {
  height: 130px;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
  align-items: center;
  padding-bottom: 10px;
}

footer .social {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
}

footer .info {
  color: white;
  display: flex;
  width: calc(100% - 20px);
  justify-content: space-between;
  padding: 0 10px;
}

footer .info ul {
  list-style: none;
  margin: 0;
}
footer .info ul li:first-child {
  font-size: 1.1em;
  font-weight: bold;
}
footer .info ul li:not(:first-child) {
  font-style: italic;
}
footer .info ul.contact {
  padding-left: 20px;
}
footer .info ul.assets {
  padding-left: 0px;
  padding-right: 20px;
  text-align: right;
}


/* content */
.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
